<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiekeliu.mapper.CatalogueMapper">
    <select id="getAll" resultType="com.jiekeliu.pojo.Catalogue">
        select * from pageindex.catalogue order by cid asc limit #{start},#{end}
    </select>

    <select id="getAllDesc" resultType="com.jiekeliu.pojo.Catalogue">
        select * from pageindex.catalogue order by cid desc limit #{start},#{end}
    </select>

    <select id="getOneCatalogueById" parameterType="int" resultType="com.jiekeliu.pojo.Catalogue">
        select * from pageindex.catalogue where cid=#{cid}
    </select>

    <insert id="addCatalogue" parameterType="com.jiekeliu.pojo.Catalogue">
        INSERT INTO pageindex.catalogue (cname,curl,pid) VALUES (#{cname},#{curl},#{pid})
    </insert>

    <update id="upCatalogue" parameterType="com.jiekeliu.pojo.Catalogue">
        update pageindex.catalogue set cname=#{cname},curl=#{curl},pid=#{pid} where cid=#{cid}
    </update>

    <delete id="delCatalogueById" parameterType="int">
        delete from pageindex.catalogue where cid=#{cid}
    </delete>

    <select id="getCatalogueCount" resultType="int">
        select count(*) from pageindex.catalogue
    </select>

</mapper>